body{
    margin: 0;
    padding: 0;
    background-image: url(imagens/food-4k-1pf6px6ryqfjtnyr.jpg);
    font-family: "Kavoon", serif;
    font-weight: 100;
    font-style: normal;
    color: #BA9A2F;
}

#bem-vindo{
    background-color: #ffff;
    
}


.label{
    color: rgba(0, 0, 0, 0.5);
}

.login{
    display: flex;
    flex-direction: column;
}

#senha{
    font-size: 10px;
}

.input-container{
    border: 0;
    outline: 0;
    border-bottom: 1px solid;
    border-color: #BA9A2F;
}

button[type="submit"]{
    width: 20%;
    border: 0;
    height: 48px;
    border-radius: 300px;
    background-color: #BA9A2F;
    color: #FFFF;
    cursor: pointer;
}

h3{
    color: black;
}

