* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #ffff;
}

main {
    height: 100vh;
    position: relative;
}

section#principal,
aside#principal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 500px;
}

section#principal {
    top: 35%;
}

aside#principal {
    left: 80%;
    bottom: 20px;
}

img, #mascate {
    display: block;
    width: 270px;
}

img {
    padding-bottom: 40px;
}

section#principal > div#frame,
aside#principal > div#frame {
    display: block;
    padding: 10px;
}

div#frame > h2,
#principal > h2 {
    text-align: center;
    padding-bottom: 10px;
}

div#frame > h2 {
    margin-bottom: 10px;
}

.button, .input-container {
    border: none; 
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 17px;
    background-color: #D9D9D9;
    text-align: center;
    height: 40px;
}

.opcao {
    border: 0px; 
    border-radius: 50px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

#buttons {
    padding: 20px 90px 40px 0;
    display: grid;
    height: 350px;
    width: 330px;
}

#form {
    padding-top: 20px;
}

span {
    margin: 0 auto;
    padding: 40px 0 0 50px;
    position: absolute;
}

button, #buttons2 > button, div > button[type=submit] {
    background-color: #BA9A2F;
    height: 40px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 30px;
}

button {
    width: 230px;
    height: 30px;
}

#buttons2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons2 > button {
    margin-left: 10px;
    margin-bottom: 20px;
}

#btn-addfila {
    padding-top: 50px;
}

input:focus {
    outline: none;
}

#head {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#head img {
    width: 40px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.lista {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 300px;
}

li {
    margin-left: 50px;
    list-style-type: none;
}

.btn-del {
    width: 26px;
    flex-shrink: 0;
    cursor: pointer;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 320px;
    height: 550px;
}

section#login > div#imagem {
    display: block;
    background: url("../images/adcbf8153e6c732a22e6e85cd2b14d65bb9524ce.webp") no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 30px;
}

div#formulario > h2 {
    color: #BA9A2F;
    margin-bottom: 5px;
}

div#formulario > h3 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding-bottom: 20px;
}

.input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid;
    border-color: #BA9A2F;
    width: 258px;
}

.campo {
    font-size: 13px;
    padding-top: 15px;
}

.label {
    color: rgba(0, 0, 0, 0.5);
}

#senha {
    font-size: 10px;
    position: relative;
    padding: 15px 0;
}

#send {
    padding-top: 35px;
}

.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.date-time {
    text-wrap: nowrap;
    margin-bottom: 20px;
}

section#sec {
    display: flex;
    position: relative;
    top: 100px;
}

.slide {
    display: flex;
    position: relative;
    top: 10%;
    margin-left: 2%;
    width: 900px;
    height: 576px;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.4s;
}

.slides {
    width: 5120px;
    display: flex;
}

.image img {
    width: 1024px;
    height: 576px;
}

#atual {
    transition: all 2s;
}

#voltar {
    top: 50%;
    left: 10%;
}

#next {
    top: 50%;
    right: 10%;
}

.balls div {
    transition: all 0.5s;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

#title {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}

#title > img {
    width: 80px;
}