* {
    font-family: "Kavoon", serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #ffff;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 500px;
}

img {
    display: block;
    width: 270px;
    padding-bottom: 40px;
}

section#principal > div#frame {
    display: block;
    padding: 10px;
}

div#frame > h2 {
    text-align: center;
    margin-bottom: 10px;
}

.button, .input-container {
    border: none; 
    border-radius: 50px;
    margin: 15px;
    font-size: 17px;
    background-color: #D9D9D9;
    text-align: center;
    height: 40px;
}

.opcao {
    border: 0px; 
    border-radius: 50px;
    margin: 15px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

#buttons {
    padding: 20px 90px 40px 0;
    display: grid;
    height: 350px;
    width: 330px;
}

#form {
    padding-top: 20px;
}

span {
    margin: 0 auto;
    padding: 40px 0 0 50px;
    position: absolute;
}

button {
    background-color: #BA9A2F;
    height: 30px;
    width: 230px;
    cursor: pointer;
}

#btn-addfila {
    padding-top: 50px;
}

input:focus {
    outline: none;
}

#mascate {
    display: block;
    width: 270px;
}

#principal > h2 {
    text-align: center;
    padding-bottom: 10px;
}

#head {
    display: flex;
}

#head img {
    width: 40px;
}

#head > h4 {
    margin-left: 60px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.lista > ul {
    display: flex;
    justify-content: space-between;
}

.btn-del {
    width: 26px;
    flex-shrink: 0;
    cursor: pointer;
}

#buttons2 > button {
    display: block;
    margin-left: 10px;
    width: 90%;
    height: 40px;
    background-color: #BA9A2F;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
